{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'for_parents.css' %}">
{% endblock %}

{% block content %}
<main class="main">
    <h1>УВАЖАЕМЫЕ РОДИТЕЛИ!</h1>
    <p><strong>Объявляется набор учащихся 2026-2027 учебный год:</strong></p>

    <h3>На обучение по дополнительной предпрофессиональной программе:</h3>
    <ul>
    <li><strong>Фортепиано</strong> (возраст от 6,5 лет) — срок обучения: 8-9 лет</li>
    <li><strong>Народные инструменты</strong> (баян, аккордеон, домра, балалайка, гитара) (возраст с 9 лет) — срок обучения: 5-6 лет</li>
    <li><strong>Живопись</strong> (возраст с 9 лет) — срок обучения: 5-6 лет</li>
    </ul>

    <h3>На обучение по дополнительной общеразвивающей программе:</h3>
    <ul>
    <li><strong>Основы инструментального исполнительства</strong> (фортепиано, народные инструменты) (возраст 6-17 лет) — срок обучения: 3 года</li>
    <li><strong>Основы вокального исполнительства</strong> (возраст 6-17 лет) — срок обучения: 4 года</li>
    <li><strong>Класс подготовки детей к обучению в детской школе искусств</strong> (возраст 6-9 лет) — срок обучения: 1 год</li>
    <li><strong>Раннее творческое развитие детей</strong> (музыкальное и изобразительное творчество) (возраст с 5 лет) — срок обучения: 1 год</li>
    </ul>

    <p><strong>Спешите к нам записаться!!!</strong></p>

    <p><strong>Адрес:</strong> с. Домна, ул. Больничная 4а<br>
    <strong>Телефон:</strong> 8-914-441-07-16</p>
    

    <h3>УСЛОВИЯ ПРИЕМА В МБУДО «Детская школа искусств» с. ДОМНА</h3>
    <h3>ПРОЦЕДУРА ПРЕДОСТАВЛЕНИЯ ОБРАЗОВАТЕЛЬНОЙ УСЛУГИ</h3>
    <p>МБУДО «ДЕТСКАЯ ШКОЛА ИСКУССТВ» С. ДОМНА</p>

    <table border="1" cellspacing="0" cellpadding="5">
    <tbody>
        <tr>
        <th>Направление</th>
        <th>Программа</th>
        <th>Сроки обучения</th>
        <th>Отбор / Зачисление</th>
        </tr>
        <tr>
        <td rowspan="2">Предпрофессиональная программа в области музыкального искусства</td>
        <td>Народные инструменты</td>
        <td>5 лет</td>
        <td>индивидуальные прослушивания</td>
        </tr>
        <tr>
        <td>Фортепиано</td>
        <td>8 лет</td>
        <td>индивидуальные прослушивания</td>
        </tr>
        <tr>
        <td>Предпрофессиональная программа в области изобразительного искусства</td>
        <td>Живопись</td>
        <td>5 лет</td>
        <td>индивидуальные просмотры творческих работ</td>
        </tr>
        <tr>
        <td rowspan="3">Общеразвивающая программа в области музыкального искусства</td>
        <td>Основы инструментального исполнительства</td>
        <td>3 года</td>
        <td rowspan="5">зачисление</td>
        </tr>
        <tr>
        <td>Основы вокального исполнительства</td>
        <td>4 года</td>
        </tr>
        <tr>
        <td>Класс подготовки детей к обучению в ДШИ</td>
        <td>1 год</td>
        </tr>
        <tr>
        <td rowspan="2">Общеразвивающая программа в области изобразительного искусства</td>
        <td>Класс подготовки детей к обучению в ДШИ</td>
        <td>1 год</td>
        </tr>
        <tr>
        <td>Раннее творческое развитие детей</td>
        <td>1 год</td>
        </tr>
    </tbody>
    </table>
</main>
{% endblock %}