.panel-container {
    display: flex;
    gap: 2vw;
    width: 80vw;
    padding: 2vw;
    background: var(--white);
    border-radius: 1vw;
    margin: auto;
    margin-top: 5vw;
}

.panel-tabs {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 15vw;
    flex-shrink: 0;
}

.tab-btn {
    padding: 1vw 1.5vw;
    background: white;
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: left;
    transition: all 0.3s ease;
    font-family: 'Century Gothic';
}

.tab-btn:hover {
    transform: scale(1.05);
}

.tab-btn.active {
    background: var(--beige);
    transform: translateX(0.5vw);
}

.tabs-content {
    flex: 1;
    background: white;
    border-radius: 1vw;
    overflow: hidden;
}

.tab-panel {
    display: none;
    padding: 2vw;
}

.tab-panel.active {
    display: block;
}

/* контент */
.tab1{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.content-item{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-bottom: 1vw;
}
.tab-panel{
    font-size: 1.4rem;
}
.tab-table{
    font-size: 1.3rem;
}

/* ПЛАНШЕТ */
@media (max-width: 1024px) {
    .panel-container {
        width: 90vw;
        flex-direction: column;
    }

    .panel-tabs {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .tab-btn {
        flex: 1;
        min-width: 30%;
        text-align: center;
    }
}

/* МОБИЛЬНЫЕ */
@media (max-width: 600px) {
    .panel-container {
        padding: 3vw;
        margin-top: 3vw;
    }

    .panel-tabs {
        flex-direction: column;
    }

    .tab-btn {
        width: 100%;
    }
}