.new_photos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2vw;
}
.new_container{
    padding: 2vw;
}
.new_container h2{
    margin-bottom: 2vw;
}
.new_container p{
    width: 70vw;
}
.new_photo{
    width: 20vw;
    border-radius: 1vw;
}
.main p{
    font-size: 1.5rem;
}


/* admin */
.form-input{
    border: 0.2vw solid var(--beige);
    border-radius: 0.5vw;
    padding: 0.2vw 0.5vw;
    min-width: 20vw;
    font-family: 'Century Gothic';
}
.my-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw; 
    margin-top: 2vw;  
}

/*  */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vw;
}

/* ПЛАНШЕТ */
@media (max-width: 1024px) {
    .new_photos {
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }

    .new_photo {
        width: 40vw;
    }

    .new_container p {
        width: 85vw;
    }
}

/* МОБИЛЬНЫЕ */
@media (max-width: 600px) {
    .new_photos {
        grid-template-columns: 1fr;
    }

    .new_photo {
        width: 80vw;
    }

    .form-input {
        min-width: 70vw;
    }
}